.contact {
  padding: 120px 8%;
  text-align: center;
}

.contact h5 {
  color: cyan;
  letter-spacing: 4px;
}

.contact h2 {
  font-size: 50px;
  color: white;
  margin: 20px 0 50px;
}

form {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  padding: 18px;
  background: #111827;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  outline: none;
}

textarea {
  resize: none;
}

button {
  padding: 18px;
  background: linear-gradient(90deg, #00ffff, #6d28ff);
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px cyan;
}

@media (max-width: 768px) {
  .contact h2 {
    font-size: 35px;
  }
}
